@import url("https://fonts.googleapis.com/css2?family=Literata:opsz,wght@7..72,200;7..72,300;7..72,400;7..72,500;7..72,600;7..72,700;7..72,800;7..72,900&family=Roboto:wght@100;300;400;500;700&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}

:root {
  --background: #f3ebe3;
  --foreground: #3e8068;
  --primary: #1a4031;
}
